@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.helping_parent {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  height: 300px;
}
.helping_parent .box_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.helping_parent .helping_box h1 {
  color: #555;
  font-size: 40px;
  letter-spacing: 2px;
}
.helping_parent .helping_box h1 span {
  color: #28cb51;
}
.helping_parent .helping_box p {
  font-size: 18px;
}
.helping_parent .box_flex2 {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}
.helping_parent .box_flex2 .img_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.helping_parent .box_flex2 .img_box img {
  height: 60px;
}
.helping_parent .box_flex2 .img_box h2 {
  font-size: 25px;
  letter-spacing: 2px;
}
.helping_parent .box_flex2 .img_box p {
  font-size: 17px;
  color: #555;
}

.how_parent {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 5rem;
}
.how_parent .img {
  width: 700px;
  height: 500px;
  margin-left: 3rem;
}
.how_parent .how_box {
  width: 90%;
}
.how_parent .how_box h1 {
  font-size: 55px;
  color: #555;
}
.how_parent .how_box p {
  width: 90%;
  font-size: 19px;
  line-height: 1.5;
  color: #888;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.how_parent .how_box button {
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #28cb51;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
}
.how_parent .how_box button:hover {
  background-color: #fff;
  color: #28cb51;
  border: 1px solid #28cb51;
}

.smith_parent {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
}

.smith_box {
  width: 60%;
  height: 100px;
}
.smith_box p {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 1rem;
}
.smith_box h3 {
  font-size: 25px;
  color: #28cb51;
}
.smith_box .smith_p {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.smith_box .flex_smith_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smith_box .flex_smith_box img {
  width: 100px;
  height: 70px;
  transition: all 0.3s ease;
}
.smith_box .flex_smith_box img:hover {
  transform: scale(1.08);
}
.smith_box .flex_smith_box a {
  text-decoration: none;
  font-size: 23px;
  color: #28cb51;
  transition: all 0.4s ease;
}
.smith_box .flex_smith_box a:hover {
  color: #08a12e;
}

.text {
  text-align: center;
  margin-top: 4rem;
  width: 60%;
}
.text h1 {
  font-size: 50px;
  color: #555;
}
.text p {
  font-size: 23px;
  width: 80%;
  margin-left: 7rem;
  color: #555;
  line-height: 1.3;
  margin-top: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card .card_box {
  width: 450px;
  position: relative;
  margin-top: 3rem;
}
.card .card_box img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.card .card_box .card_div {
  position: absolute;
  background-color: #fff;
  width: 400px;
  text-align: center;
  margin-left: 1.6rem;
  margin-top: -6rem;
  padding: 1rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.card .card_box .card_div:hover {
  background-color: #f4f4f4;
}
.card .card_box .card_div .h2 {
  font-size: 27px;
  margin-bottom: 0.5rem;
}
.card .card_box .card_div h2 {
  margin-top: 1rem;
  font-size: 25px;
  color: #555;
  margin-bottom: 1rem;
}
.card .card_box .card_div a {
  color: #28cb51;
  font-size: 20px;
  gap: 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
.card .card_box .card_div a:hover {
  color: #08a12e;
}

.text2 {
  text-align: center;
  margin-top: 12rem;
  width: 60%;
}
.text2 h1 {
  font-size: 87px;
  color: #222;
  margin-bottom: 3rem;
}
.text2 button {
  padding: 16px 22px;
  font-size: 20px;
  background-color: #28cb51;
  border: none;
  color: #fff;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.text2 button:hover {
  background-color: #fff;
  color: #28cb51;
  border: 1px solid #28cb51;
}
.text2 button:active {
  transform: translateY(4px);
  padding: 14px 18px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

footer {
  background-color: #263239;
  padding: 3rem;
  margin-top: 3rem;
}
footer .footer_flex {
  display: flex;
  justify-content: space-around;
}
footer .footer_flex .footer_flex2 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
footer .footer_flex .footer_flex2 p {
  font-size: 17px;
  color: #fff;
  line-height: 3;
  cursor: pointer;
}
footer .footer_flex .footer_flex2 .input h3 {
  color: #fff;
  margin-bottom: 2rem;
}
footer .footer_flex .footer_flex2 .input_footer {
  align-items: center;
}
footer .footer_flex .footer_flex2 .input_footer i {
  margin-left: -2.4rem;
  margin-top: 10px;
  position: absolute;
  font-size: 30px;
  color: #fff;
}
footer .footer_flex .footer_flex2 .input_footer input {
  position: relative;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2392156863);
  border: none;
  border-radius: 10px;
}
footer .footer_flex .footer_flex2 input::placeholder {
  color: #fff;
}
footer .footer_box p {
  color: #fff;
  font-size: 20px;
  width: 65%;
  line-height: 1.7;
  margin-top: 1rem;
}
footer .footer_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer_logo span {
  font-size: 35px;
  color: #fff;
  font-weight: 800;
}
footer .icon {
  display: flex;
  width: 35%;
  gap: 3rem;
  margin-top: 2rem;
  color: #fff;
}
footer .icon i {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(68, 68, 68, 0.3882352941);
  background-color: rgba(68, 68, 68, 0.3882352941);
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
  transition: all 0.4s ease;
}
footer .icon i:hover {
  box-shadow: #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.2);
}
footer .footer_text h3 {
  color: #fff;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .helping_parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f7fa;
    height: 300px;
  }
  .helping_parent .box_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
  }
  .helping_parent .helping_box h1 {
    color: #555;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .helping_parent .helping_box h1 span {
    color: #28cb51;
  }
  .helping_parent .helping_box p {
    font-size: 18px;
  }
  .helping_parent .box_flex2 {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }
  .helping_parent .box_flex2 .img_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .helping_parent .box_flex2 .img_box img {
    height: 60px;
  }
  .helping_parent .box_flex2 .img_box h2 {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .helping_parent .box_flex2 .img_box p {
    font-size: 17px;
    color: #555;
  }
  .how_parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 5rem;
    margin-top: 5rem;
  }
  .how_parent .img {
    width: 100%;
    height: 500px;
    margin-left: 0rem;
  }
  .how_parent .how_box {
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .how_parent .how_box h1 {
    font-size: 25px;
    color: #555;
  }
  .how_parent .how_box p {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #888;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .how_parent .how_box button {
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #28cb51;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
  }
  .how_parent .how_box button:hover {
    background-color: #fff;
    color: #28cb51;
    border: 1px solid #28cb51;
  }
  .smith_parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0rem;
    width: 95%;
  }
  .smith_box {
    width: 100%;
    height: 100px;
    margin-bottom: 48rem;
  }
  .smith_box p {
    width: 95%;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 1rem;
    margin-left: 10px;
  }
  .smith_box h3 {
    font-size: 25px;
    color: #28cb51;
  }
  .smith_box .smith_p {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .smith_box .flex_smith_box {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .smith_box .flex_smith_box img {
    width: 90%;
    height: 70px;
    transition: all 0.3s ease;
  }
  .smith_box .flex_smith_box img:hover {
    transform: scale(1.08);
  }
  .smith_box .flex_smith_box a {
    text-decoration: none;
    font-size: 23px;
    color: #28cb51;
    transition: all 0.4s ease;
  }
  .smith_box .flex_smith_box a:hover {
    color: #08a12e;
  }
  .smith_box .smtih_img {
    width: 90%;
    height: 200px;
  }
  .text {
    text-align: center;
    margin-top: 4rem;
    width: 60%;
    display: none;
  }
  .text h1 {
    font-size: 50px;
    color: #555;
  }
  .text p {
    font-size: 23px;
    width: 80%;
    margin-left: 7rem;
    color: #555;
    line-height: 1.3;
    margin-top: 1rem;
  }
  .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card .card_box {
    width: 95%;
    position: relative;
    margin-top: 9rem;
    margin-left: 10px;
  }
  .card .card_box img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .card .card_box .card_div {
    position: absolute;
    background-color: #fff;
    width: 90%;
    text-align: center;
    margin-left: 1.3rem;
    margin-top: -6rem;
    padding: 1rem;
    border-radius: 15px;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .card .card_box .card_div:hover {
    background-color: #f4f4f4;
  }
  .card .card_box .card_div .h2 {
    font-size: 27px;
    margin-bottom: 0.5rem;
  }
  .card .card_box .card_div h2 {
    margin-top: 1rem;
    font-size: 25px;
    color: #555;
    margin-bottom: 1rem;
  }
  .card .card_box .card_div a {
    color: #28cb51;
    font-size: 20px;
    gap: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  .card .card_box .card_div a:hover {
    color: #08a12e;
  }
  .text2 {
    text-align: center;
    margin-top: 12rem;
    width: 60%;
  }
  .text2 h1 {
    font-size: 27px;
    color: #222;
    margin-bottom: 3rem;
  }
  .text2 button {
    padding: 16px 22px;
    font-size: 20px;
    background-color: #28cb51;
    border: none;
    color: #fff;
    border-radius: 7px;
    transition: all 0.3s ease;
  }
  .text2 button:hover {
    background-color: #fff;
    color: #28cb51;
    border: 1px solid #28cb51;
  }
  .text2 button:active {
    transform: translateY(4px);
    padding: 14px 18px;
    font-size: 16px;
  }
  button {
    cursor: pointer;
  }
  footer {
    background-color: #263239;
    padding: 3rem;
    margin-top: 3rem;
  }
  footer .footer_flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  footer .footer_flex .footer_flex2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;
  }
  footer .footer_flex .footer_flex2 p {
    font-size: 17px;
    color: #fff;
    line-height: 1;
    cursor: pointer;
  }
  footer .footer_flex .footer_flex2 .input h3 {
    color: #fff;
    margin-bottom: 2rem;
  }
  footer .footer_flex .footer_flex2 .input_footer {
    align-items: center;
    outline: none;
  }
  footer .footer_flex .footer_flex2 .input_footer i {
    margin-left: -2.4rem;
    margin-top: 10px;
    position: absolute;
    font-size: 30px;
    color: #fff;
  }
  footer .footer_flex .footer_flex2 .input_footer input {
    position: relative;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2392156863);
    border: none;
    border-radius: 10px;
    outline: none;
  }
  footer .footer_flex .footer_flex2 input::placeholder {
    color: #fff;
  }
  footer .footer_box p {
    color: #fff;
    font-size: 20px;
    width: 65%;
    line-height: 1.7;
    margin-top: 1rem;
  }
  footer .footer_logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  footer .footer_logo span {
    font-size: 35px;
    color: #fff;
    font-weight: 800;
  }
  footer .icon {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
    color: #fff;
  }
  footer .icon i {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(68, 68, 68, 0.3882352941);
    background-color: rgba(68, 68, 68, 0.3882352941);
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    transition: all 0.4s ease;
  }
  footer .icon i:hover {
    box-shadow: #fff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.2);
  }
  footer .footer_text h3 {
    color: #fff;
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
